---
---

//
// IMPORTS
//

@import "variables";
@import "reset";

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $pastelOrange;
  font: 18px/1.4 $raleWay;
  color: $oxfordBlue;
  font-weight:400;
  //overflow-x: hidden; 
}

.container {
  margin: 0 auto;
  padding: 0 00px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: $oxfordBlue;
  font-weight: 600;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 36px;
  font-family: $playFair;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
  font-family: $raleWay;
}

h3 {
  font-size: 20px;
  font-family: $raleWay;
}

h4 {
  font-size: 18px;
  font-family: $raleWay;
}

p {
  margin: 1em 0 0;
}

a {
  color: $black;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $pastelBlue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-family:'Times New Roman', Times, serif
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
// .clearfix:before,
// .clearfix:after {
//     content: " ";
//     display: table;
// }

// .clearfix:after {
//     clear: both;
// }


/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//



.wrapper-masthead {
  width: 100%;
}

.masthead {
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  @media screen and (min-width: 46em){
    display: flex;
    overflow:hidden;
  }
}

.bg-image{
  aspect-ratio: 16/9;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: none;
  @media screen and (min-width: 46em){
    min-height: 100vh;
    background-attachment: fixed;
    overflow:auto;
  }    
}

.site-description-wrapper {
  @media screen and (max-width: 46em) {
    border-bottom: 1px solid #000000;
  }
  @media all {
    margin: 0 auto 1.6em;
    width: 100%;
    position: relative;
  }
  @media screen and (min-width: 46em){
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2; 
  }
  @media screen and (min-width: 58em) {
    margin: 0 auto;
  }
}

.site-description {
  @media all {
    box-sizing: inherit;
    text-align: center;
    line-height: 1.4;
    a{
      color:$black;
    }
    font-size: 18px;
    font-size: 1.125rem;
    font-style: normal;
    margin: 0;
    margin: 20px;
    transition: font-size 0.5s;
    font-family: $raleWay;
  }

  @media screen and (min-width: 46em) {
    font-size: 32px;
    font-size: 2rem;
    font-family: $playFair;
    a{
      color:$white;
    }
    }
    @media screen and (min-width:58em){
    font-size:47.12px;
    font-size: 2.945rem;
    color: #e8e9ea;
    }
}

nav {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  font-family: $raleWay;
  
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $white;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $white;
    }
  }
}

//
// .main
//
.wrapper_content{
  display:flex;
  justify-content: center;
}
.content{
  width: 90%;
  margin: auto;
  text-align: justify;
  p{
    padding-bottom: 1em;
    border-bottom: 1px solid #00000018;
  }
  @media screen and (min-width: 57.5em) {
    width:46em;
    }
}
  

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid #00000029;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  width: 90%;
  margin: auto;
  text-align: left;
  @media screen and (min-width: 57.5em) {
    width:46em;
    text-align: justify;
    }
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
}

footer {
  padding: 20px 0;
  text-align: center;
}
// Go-to-top button
.scrollToTopBtn {
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  line-height: 48px;
  // width: 48px;
  height           : 3.2rem;
  width            : 3.2rem;
  border-radius    : 50%;
  /* place it at the bottom right corner */
  position: fixed;
  bottom: 30px;
  right: 30px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition : all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}
//Search
#search-container {
  text-align: center;
}

#search-input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
  background-color: #fff3ff;
}

.share-box {
  font-weight: bold;
  color: #222;
}
// pullQuote
span[data-pullquote] {
  display: block;

  @include mobile {
    display: none;
  }
}

span[data-pullquote]:before {
  content: attr(data-pullquote);
  float: right;
  width: 200px;
  margin: 0 0 0.5em 30px;
  padding: 0 -5% 0 0;
  font-size: 1.3em;
  font-style: italic;
  color: green;
  text-align: center;
}
//Pagination

.pagination a, .pagination span {
  padding: 7px 18px;
  margin-top: 20px;
  margin-left: -2px;
  margin-right: -2px;
  display: inline-block;
  margin-bottom: 0px;
}

.pagination a {    
  &:hover {
      background-color: #f1f1f1;
      color: #333;
  }
}

.pagination {
  text-align: center;
}
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
