
//
// VARIABLES
//
// Colors
$pastelOrange: #f4e7d1;
$pastelBlue:#A7C7E7;
$red:#D72638;

// Grays
$black: #1D1E18;
$oxfordBlue:#1d1e18ca;
$lighterBlack:$black;
$gray:#000022d8;
$white: #fff;
$lighterBlack:$black;
$lightGray:#1d1e1875;
$darkGray:$black;

// Font stacks
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&family=Alegreya:wght@400;500;600&family=Open+Sans&family=Playfair+Display:wght@400;600;700;800&family=Raleway:wght@400;500;600;700;800&display=swap');
$openSans: 'Open Sans', sans-serif;
$playFair: 'Alegreya','Playfair Display', serif;
$raleWay: 'Alegreya Sans','Raleway', sans-serif; 

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

