---
layout: default
type: post
---

<article class="post">
  

  <div class="entry">
    <div class = "wrapper_content">
      <div class = "content">
        <h1>{{page.title}}</h1>
        {{ content }}
        <div class="date">
          <div>
            Written on {{ page.date | date: "%B %e, %Y" }}<br>
            {% if page.last_modified_at %}
            <div datetime="{{ page.last_modified_at | date_to_xmlschema }}">(Updated: {{ page.last_modified_at | date: "%b %-d, %Y" }})</div>
            {% endif %}
          
            {% if post %}
              {% assign categories = post.categories %}
            {% else %}
              {% assign categories = page.categories %}
            {% endif %}

            {%if categories =="" %}
            Tags:&nbsp;
            {% for category in categories %}
              <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
              {% unless forloop.last %},&nbsp;{% endunless %}
            {% endfor %}
            {% endif %}
          </div>




          
        </div>
      </div>
    </div>
  </div>



  {% include disqus.html %}
</article>
