---
layout: default
---

<article class="post">
  

  <div class="entry">
    <div class = "wrapper_content">
      <div class = "content">
        <h1>{{page.title}}</h1>
        {{ content }}
        <div class="date">
          <div>
            Written on {{ page.date | date: "%B %e, %Y" }}<br>
            {% if page.last_modified_at %}
            <div datetime="{{ page.last_modified_at | date_to_xmlschema }}">(Updated: {{ page.last_modified_at | date: "%b %-d, %Y" }})</div>
            {% endif %}
          
            {% if post %}
              {% assign categories = post.categories %}
            {% else %}
              {% assign categories = page.categories %}
            {% endif %}

            {%if categories =="" %}
            Tags:&nbsp;
            {% for category in categories %}
              <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
              {% unless forloop.last %},&nbsp;{% endunless %}
            {% endfor %}
            {% endif %}
          </div>
          <script src="{{ site.baseurl }}/js/jquery-3.2.1.min.js"></script>
          <script>
            // debulked onresize handler
            function on_resize(c,t){onresize=function(){clearTimeout(t);t=setTimeout(c,100)};return c};
            on_resize(function() {
                // handle the resize event here
                if(window.innerWidth <= 736) {
                $(".site-description-wrapper").fadeOut();
              }
              else {
                $(".site-description-wrapper").fadeIn();
              }
              });
              if(window.innerWidth <= 736) {
                $(".site-description-wrapper").hide();
              }
              else {
                $(".site-description-wrapper").show();
              }  
          </script>
        
          </div>
      </div>
    </div>
  </div>



  {% include disqus.html %}

</article>
